<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.talk"
    xmlns:tools="http://schemas.android.com/tools" >




    <application
        android:allowBackup="true"
        android:icon="@drawable/talking"
        android:label="@string/app_name"
        android:roundIcon="@drawable/talking"
        android:supportsRtl="true"
        android:theme="@style/Theme.Talk">
        <activity android:name=".DashboardActivity"></activity>
        <activity
            android:name=".SignUpActivity"
            android:label="New Account" />
        <activity
            android:name=".LoginActivity"
            android:label="Log In" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>